.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.div {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 39px 37px 39px 37px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  /* height: 578px; */ /* Remove fixed height */
  position: relative;
  max-width: 800px; /* Add max-width for responsiveness */
  width: 90%; /* Adjust width */
  box-sizing: border-box;
}
.vector {
  /* flex-shrink: 0; */
  width: 20px; /* Adjust size */
  height: 20px; /* Adjust size */
  position: absolute;
  right: 20px; /* Adjust position */
  top: 20px; /* Adjust position */
  overflow: visible;
  cursor: pointer;
}
.frame154 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%; /* Adjust width */
  /* width: 753px; */
  position: relative;
}
.frame151 {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame107 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame106 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  /* width: 109px; */
  position: relative;
}
.frame150 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame243 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame109 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  /* width: 109px; */
  position: relative;
}
.profile {
  background: #dbdfe0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.username {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  /* width: 90px; */
}
.riMoreLine {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame149 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.div2 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  /* width: 187px; */
}
._20251116 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.frame148 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* width: 87px; */
  position: relative;
}
.frame91 {
  background: #f3f3f3;
  border-radius: 20px;
  border-style: solid;
  border-color: #c5c5c5;
  border-width: 2px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* width: 86px; */
  height: 33px;
  position: relative;
}
.div3 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
}
.frame111 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* width: 63px; */
  height: 36px;
  position: relative;
}
.frame912 {
  background: #e5e7e8;
  border-radius: 20px;
  border-style: solid;
  border-color: #e5e7e8;
  border-width: 2px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* width: 86px; */
  height: 33px;
  position: relative;
}
.frame153 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div4 {
  color: #575757;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 100%; /* Adjust width */
  /* width: 611px; */
  height: 89px;
}
.frame129 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 100%; /* Adjust width */
  /* width: 726px; */
  height: 13px;
  position: relative;
}
.frame131 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}
.frame132 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}
.frame130 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}
.frame246 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  /* width: 139px; */
  height: 13px;
  position: relative;
}
.frame248 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* width: 41px; */
  position: relative;
}
.frame1312 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.frame247 {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* width: 21px; */
  position: relative;
}
._10 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  /* width: 33px; */
}
.frame249 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* width: 41px; */
  position: relative;
}
.frame1322 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.frame250 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* width: 41px; */
  position: relative;
}
.frame1302 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 9px;
  height: 8px;
  position: relative;
  overflow: visible;
}
.frame152 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame1072 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%; /* Adjust width */
  /* width: 456px; */
  height: 70px;
  position: relative;
}
.frame1062 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame141 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%; /* Adjust width */
  /* width: 410px; */
  position: relative;
}
.frame140 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.profile2 {
  background: #dbdfe0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.username2 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  /* width: 75px; */
}
.frame139 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%; /* Adjust width */
  /* width: 290px; */
  position: relative;
}
.div5 {
  color: #a3a3a3;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  width: 100%; /* Adjust width */
  /* width: 305px; */
}
.div6 {
  color: #575757;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  width: 100%; /* Adjust width */
  /* width: 305px; */
}
.frame138 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%; /* Adjust width */
  /* width: 456px; */
  height: 70px;
  position: relative;
}
.frame197 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%; /* Adjust width */
  /* width: 535px; */
  position: relative;
}
.line5 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dbdfe0;
  border-width: 1.5px 0 0 0;
  flex: 1;
  height: 0px;
  position: relative;
}
.div7 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
  /* width: 39px; */
}
