.div,
.div * {
  box-sizing: border-box;
}
.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 269px;
  height: 177px;
  position: relative;
}
.user-info {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 10px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  padding: 0px 14px 0px 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 213px;
  height: 70px;
  position: relative;
}
.frame-304 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.div2 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  width: 183px;
}
.line-5 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #eaedee;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 190px;
  height: 0px;
  position: relative;
}
.frame-303 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 171px;
  position: relative;
}
.div3 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  width: 75px;
}
.line-6 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #eaedee;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.div4 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  width: 76px;
}
