.frame-182 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 95px;
  top: 223px;
}
.frame-181 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 875px;
  position: relative;
}
.frame-180 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-245 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-236 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 206px;
  position: relative;
}
.frame-106 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 94px;
  position: relative;
}
.a {
  color: #595e69;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  width: 121px;
}
._30 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  width: 60px;
}
.frame-183 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 304px;
  position: relative;
}
.frame-83 {
  border-radius: 5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 22px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-191 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 22px;
  position: relative;
}
.group-2095 {
  flex-shrink: 0;
  width: 10px;
  height: 12px;
  position: relative;
  overflow: visible;
  fill: #575757;
}
.group-2096 {
  flex-shrink: 0;
  width: 10px;
  height: 12px;
  position: relative;
  overflow: visible;
  fill: #575757;
}
.group-20952 {
  flex-shrink: 0;
  width: 10px;
  height: 12px;
  position: relative;
  overflow: visible;
  fill: #575757;
}
.group-20953 {
  flex-shrink: 0;
  width: 10px;
  height: 12px;
  position: relative;
  overflow: visible;
  fill: #575757;
}
.group-20954 {
  flex-shrink: 0;
  width: 10px;
  height: 12px;
  position: relative;
  overflow: visible;
  fill: #575757;
}
.group-20962 {
  flex-shrink: 0;
  width: 10px;
  height: 12px;
  position: relative;
  overflow: visible;
  fill: #575757;
}
.group-1 {
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
  overflow: visible;
  fill: #575757;
}
.line-5 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 14px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.frame-119 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 839px;
  position: relative;
}
.frame-50 {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 875px;
  position: relative;
}
.frame-107 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 348px;
  position: relative;
}
.frame-151 {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 527px;
  position: relative;
}
.frame-1072 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 524px;
  position: relative;
}
.frame-1062 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 109px;
  position: relative;
}
.frame-150 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-243 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-109 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 109px;
  position: relative;
}
.profile {
  background: #dbdfe0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.username {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 90px;
}
.ri-more-line {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame-149 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.div5 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  width: 187px;
}
._2025-11-16 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.frame-148 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 87px;
  position: relative;
}
.frame-912 {
  background: #f3f3f3;
  border-radius: 20px;
  border-style: solid;
  border-color: #c5c5c5;
  border-width: 2px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 86px;
  height: 33px;
  position: relative;
}
.div6 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
}
.frame-111 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 63px;
  height: 36px;
  position: relative;
}
.frame-913 {
  background: #e5e7e8;
  border-radius: 20px;
  border-style: solid;
  border-color: #e5e7e8;
  border-width: 2px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 86px;
  height: 33px;
  position: relative;
}
.frame-153 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 514px;
  position: relative;
}
.div7 {
  color: #575757;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 469px;
  height: 109px;
}
.frame-129 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  height: 24px;
  position: relative;
}
.frame-246 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-248 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 43px;
  position: relative;
}
.frame-131 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.frame-247 {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 21px;
  position: relative;
}
._10 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  width: 33px;
}
.frame-249 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 43px;
  position: relative;
}
.frame-132 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.frame-250 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 43px;
  position: relative;
}
.frame-130 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.frame-179 {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.line-52 {
  margin-top: -2px;
  border-style: solid;
  border-color: #eaedee;
  border-width: 2px 0 0 0;
  flex-shrink: 0;
  width: 280px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-176 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.frame-174 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 232px;
  position: relative;
}
.line-7 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #eaedee;
  border-width: 1.5px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.frame-1063 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 201px;
  position: relative;
}
.frame-141 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 183px;
  position: relative;
}
.frame-140 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.profile2 {
  background: #dbdfe0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.username2 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9px;
  font-weight: 700;
  position: relative;
  width: 56px;
}
.frame-139 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 290px;
  position: relative;
}
.div8 {
  color: #a3a3a3;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  width: 305px;
}
.ri-more-line2 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.line-6 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #eaedee;
  border-width: 1.5px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.frame-175 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 232px;
  position: relative;
}
.ri-more-line3 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame-198 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 232px;
  position: relative;
}
.ri-more-line4 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame-199 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 232px;
  position: relative;
}
.ri-more-line5 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame-200 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 232px;
  position: relative;
}
.ri-more-line6 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame-197 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
.line-53 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dbdfe0;
  border-width: 1.5px 0 0 0;
  flex: 1;
  height: 0px;
  position: relative;
}
.div9 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
  width: 39px;
}
.frame-122 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 348px;
  position: relative;
}
.ri-more-line7 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame-1312 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.frame-1322 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.frame-1302 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.ri-more-line8 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.ri-more-line9 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.ri-more-line10 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.ri-more-line11 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.ri-more-line12 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame-123 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 348px;
  position: relative;
}
.ri-more-line13 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame-1313 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.frame-1323 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.frame-1303 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.ri-more-line14 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.ri-more-line15 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.ri-more-line16 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.ri-more-line17 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.ri-more-line18 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame-124 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 348px;
  position: relative;
}
.ri-more-line19 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame-1314 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.frame-1324 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.frame-1304 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.ri-more-line20 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.ri-more-line21 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.ri-more-line22 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.ri-more-line23 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.ri-more-line24 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}

.section01 {
  display: flex;
  flex-direction: column;
  gap: 20px; /* frame-1072와 frame-153 사이의 간격 */
  /* 필요한 추가 스타일 */
}