.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: linear-gradient(
    180deg,
    #3A312A 0%,
    #5C5044 100%
  );
  height: 1885px;
  position: relative;
  overflow: hidden;
}
.div .rectangle-10 {
  background: #F8F8F8;
  width: 1440px;
  height: 669px;
  position: absolute;
  left: 0px;
  top: 58px;
}
.div .rectangle-11 {
  background: #F8F8F8;
  border-radius: 20px;
  width: 1335px;
  height: 688px;
  position: absolute;
  left: 53px;
  top: 78px;
}




