.frame45 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  width: 100%; /* Adjust as needed */
  padding: 20px;
  box-sizing: border-box;
  flex-grow: 1; /* Allow it to take available space */
}

.frame6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.frame282 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.div {
  color: var(--gray-51);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  position: relative;
  white-space: nowrap;
}

.frame914 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.div2 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.attendButton {
  background-color: #a9c3b9; /* Desaturated Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.attendButton:hover:not(:disabled) {
  background-color: #82b79e;
}

.attendButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.frame283 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow blocks to wrap to the next line */
  gap: 5px; /* Adjust gap between blocks */
  width: 100%;
  justify-content: flex-start; /* Align blocks to the left */
}

.rectangle10 {
  width: 20px; /* Size of each block */
  height: 20px;
  border-radius: 8px; /* Rounded corners */
}

.attended {
  background-color: #9CB0A4; /* Darker, antique green */
}

.notAttended {
  background-color: #e0e0e0; /* Darker grey for not attended days */
}

.today {
  border: 2px solid #cccccc; /* Gray border for today */
}

.tooltip {
  position: absolute;
  bottom: 120%; /* Position above the block */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  opacity: 0.9;
}