.frame-172 {
  padding: 17px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 328px;
  position: relative;
}
.frame-166 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div10 {
  color: #575757;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame-85 {
  border-radius: 20px;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 330px;
  height: 280px;
  position: relative;
}
.frame-86 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-98 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 301px;
  height: 49px;
  position: relative;
}
.div11 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.frame-91 {
  background: #f3f3f3;
  border-radius: 20px;
  border-style: solid;
  border-color: #c5c5c5;
  border-width: 2px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 63px;
  height: 28px;
  position: relative;
}
.div3 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
}
.frame-99 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 301px;
  height: 49px;
  position: relative;
}
._12 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.frame-100 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 301px;
  height: 49px;
  position: relative;
}
.frame-101 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 301px;
  height: 49px;
  position: relative;
}
.frame-104 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 301px;
  height: 49px;
  position: relative;
}
.frame-105 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 247px;
  height: 59px;
  position: relative;
}
.frame-102 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 112px;
  height: 35px;
  position: relative;
}
.div12 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  width: 69px;
}
.frame-103 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 113px;
  height: 35px;
  position: relative;
}
.frame-158 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 70px;
  position: relative;
}
.div13 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.frame-168 {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 580px;
  position: relative;
}
.div14 {
  color: #575757;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  width: 300px;
  height: 27px;
}
.frame-167 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 301px;
  height: 94px;
  position: relative;
}
.frame-162 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 262px;
  height: 53px;
  position: relative;
}
.frame-161 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-160 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 103px;
  position: relative;
}
.profile {
  background: #dbdfe0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.username3 {
  color: #787878;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  width: 90px;
}
.div15 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 170px;
}
.frame-108 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 129px;
  position: relative;
}
._2025-11-162 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
}
.frame-1722 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 301px;
  height: 94px;
  position: relative;
}
.frame-173 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 301px;
  height: 94px;
  position: relative;
}
.frame-1742 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 301px;
  height: 94px;
  position: relative;
}
.frame-1752 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 301px;
  height: 94px;
  position: relative;
}