.frame242 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
  width: 1228px;
  position: absolute;
  left: 119px;
  top: 768px;
}

.line52 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 1295.1px;
  height: 0px;
  position: relative;
}

.frame257 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.frame143 {
  display: flex;
  flex-direction: row;
  gap: 66px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.frame236 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 254px;
  height: 34px;
  position: relative;
}

.frame106 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 94px;
  position: relative;
}

.a2 {
  color: #595e69;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  width: 121px;
}

._202 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  width: 60px;
}

.frame201 {
  border-radius: 20px;
  padding: 0px 14px 0px 14px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 418px;
  position: relative;
}

.frame237 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 310px;
  position: relative;
}

.frame286 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1182px;
  position: relative;
}

.frame240 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 383px;
  position: relative;
}

.frame287 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame239 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 10px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1px;
  padding: 6px 11px 6px 11px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 249px;
  height: 50px;
  position: relative;
}

.frame232 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.a3 {
  color: #595e69;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  width: 166px;
}

.div12 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 278px;
  height: 286px;
  position: relative;
}

.frame271 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame270 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame373 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 219px;
  position: relative;
}

.frame363 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 137px;
  position: relative;
}

._240 {
  color: #aaaaaa;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  width: 53px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

._2002 {
  color: #747474;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  width: 112px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame312 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 55px;
  position: relative;
}

.labelValue3 {
  color: #4d4747;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
  width: 52px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame313 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 227px;
  position: relative;
}

.frame323 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 1px 3px 3px 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 152px;
  height: 32px;
  position: relative;
}

.frame278 {
  background: #dadee1;
  border-radius: 20px;
  padding: 12px 111px 12px 109px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 149px;
  height: 28.49px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.26deg) scale(1, -1);
}

.labelValue4 {
  color: #676767;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 52px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame2652 {
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 238px;
  height: 34px;
  position: relative;
}

.frame267 {
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 202px;
  position: relative;
}

.div10 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  width: 42px;
}

.frame269 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame266 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 105px;
  position: relative;
}

.ellipseFill2 {
  background: #abcebe;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
  aspect-ratio: 1;
}

.ellipseFill3 {
  background: #c9d3d0;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
  aspect-ratio: 1;
}

._35 {
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 42px;
}

._35Span {
  color: #82b79e;
}

.div11 {
  text-align: left;
  position: relative;
  width: 248px;
}

.div11Span {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.div11Span2 {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
}

.div11Span3 {
  color: #676767;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.div11Span4 {
  color: #676767;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.frame288 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame289 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame290 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame183 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1182px;
  height: 39px;
  position: relative;
}

.frame83 {
  border-radius: 5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 22px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}

.frame191 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 11px;
  position: relative;
}

.group2095 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}

.group2096 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}

.frame189 {
  border-radius: 5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 22px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}

.group20952 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}

.frame187 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame184 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  position: relative;
}

.frame84 {
  border-radius: 5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 22px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}

._1 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 16px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}

.frame185 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  position: relative;
}

.frame842 {
  background: #e1e4e5;
  border-radius: 5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 22px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}

._2 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 16px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}

.frame186 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  position: relative;
}

.frame1872 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  position: relative;
}

.frame188 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  position: relative;
}

.frame1882 {
  border-radius: 5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 22px;
  position: relative;
}

.group20953 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}

.frame190 {
  border-radius: 5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 22px;
  position: relative;
}

.group20954 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}

.group20962 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}
