.frame197 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 569px;
  position: relative;
}

.div3 {
  color: #515151;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}

.line43 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 580px;
  height: 0px;
  position: relative;
}

.frame2622 {
  display: flex;
  flex-direction: row;
  gap: 44px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame2612 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame412 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 129px;
  position: relative;
}

.div8 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 246px;
}

.frame20 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 277px;
  height: 97px;
  position: relative;
}

.frame372 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 219px;
  position: relative;
}

.frame362 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 180px;
  position: relative;
}

._140 {
  color: #82b79e;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  width: 53px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

._200 {
  color: #505050;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  width: 85px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mdiPencil {
  border-radius: 20px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 21.75px;
  height: 21.75px;
  position: relative;
  overflow: hidden;
}

.frame31 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 186px;
  position: relative;
}

.frame32 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 149px;
  height: 32px;
  position: relative;
}

.frame27 {
  background: linear-gradient(
    -90deg,
    rgba(130, 183, 158, 0.8) 0%,
    rgba(221, 236, 231, 1) 100%
  );
  border-radius: 20px 10px 10px 20px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 126px;
  height: 26px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.labelValue {
  color: #676767;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 41px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame2772 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame2732 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 282px;
  position: relative;
}

.polygon13 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 10px;
  height: 8px;
  position: relative;
  overflow: visible;
}

._11 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 115px;
}

.frame34 {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 282px;
  height: 383px;
  position: relative;
}

.frame252 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame258 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame40 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame26 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 48px;
  height: 23px;
  position: relative;
}

.ellipseFill {
  background: #c9d3d0;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
  aspect-ratio: 1;
}

.div5 {
  color: rgba(92, 92, 92, 0.7);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}

.frame322 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 139px;
  height: 31px;
  position: relative;
}

.frame272 {
  background: linear-gradient(
    -90deg,
    rgba(201, 211, 208, 1) 0%,
    rgba(233, 240, 238, 1) 100%
  );
  border-radius: 15px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 63px;
  height: 25px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.labelValue2 {
  color: #9d9d9d;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 41px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame44 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame45 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame46 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame47 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame42 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame277 {
  background: linear-gradient(
    -90deg,
    rgba(217, 221, 223, 1) 0%,
    rgba(243, 243, 243, 1) 100%
  );
  border-radius: 15px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 103px;
  height: 25px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.frame48 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame49 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame105 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 282px;
  height: 52px;
  position: relative;
}

.frame102 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 125px;
  height: 45px;
  position: relative;
}

.div6 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  width: 69px;
}

.frame103 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 125px;
  height: 45px;
  position: relative;
}

.frame158 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 70px;
  position: relative;
}

.div7 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}

.frame263 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 283px;
  height: 323px;
  position: relative;
}

.frame268 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 564px;
  position: relative;
}

.frame2722 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.frame259 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 21px;
  position: relative;
}

.div9 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}

.frame21 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 278px;
  height: 286px;
  position: relative;
}

.frame271 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame270 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame373 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 219px;
  position: relative;
}

.frame363 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 137px;
  position: relative;
}

._240 {
  color: #aaaaaa;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  width: 53px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

._2002 {
  color: #747474;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  width: 112px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame312 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 55px;
  position: relative;
}

.labelValue3 {
  color: #4d4747;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
  width: 52px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame313 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 227px;
  position: relative;
}

.frame323 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 1px 3px 3px 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 152px;
  height: 32px;
  position: relative;
}

.frame278 {
  background: #dadee1;
  border-radius: 20px;
  padding: 12px 111px 12px 109px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 149px;
  height: 28.49px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.26deg) scale(1, -1);
}

.labelValue4 {
  color: #676767;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 52px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame2652 {
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 238px;
  height: 34px;
  position: relative;
}

.frame267 {
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 202px;
  position: relative;
}

.div10 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  width: 42px;
}

.frame269 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame266 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 105px;
  position: relative;
}

.ellipseFill2 {
  background: #abcebe;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
  aspect-ratio: 1;
}

.ellipseFill3 {
  background: #c9d3d0;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
  aspect-ratio: 1;
}

._35 {
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 42px;
}

._35Span {
  color: #82b79e;
}

.div11 {
  text-align: left;
  position: relative;
  width: 248px;
}

.div11Span {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.div11Span2 {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
}

.div11Span3 {
  color: #676767;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.div11Span4 {
  color: #676767;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.frame2733 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.frame212 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 278px;
  height: 159px;
  position: relative;
}
