.frame8 {
  border-radius: 20px;
  padding: 12px 111px 0px 111px;
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: flex-start;
  justify-content: center;
  width: 945px;
  height: 611px;
  position: absolute;
  left: 378px;
  top: 102px;
}

.frame226 {
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame265 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 288px;
  position: relative;
}

.div3 {
  color: #515151;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}

.line42 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 250px;
  height: 0px;
  position: relative;
}

.frame276 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame43 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 277px;
  position: relative;
}

.frame41 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.div4 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 276px;
}

.frame19 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 277px;
  height: 97px;
  position: relative;
}

.frame372 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 219px;
  position: relative;
}

.frame362 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 180px;
  position: relative;
}

._20 {
  color: #82b79e;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  width: 42px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

._40 {
  color: #505050;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  width: 85px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mdiPencil {
  border-radius: 20px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 21.75px;
  height: 21.75px;
  position: relative;
  overflow: hidden;
}

.frame31 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 186px;
  position: relative;
}

.frame32 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 149px;
  height: 32px;
  position: relative;
}

.frame27 {
  background: linear-gradient(
    -90deg,
    rgba(130, 183, 158, 0.8) 0%,
    rgba(221, 236, 231, 1) 100%
  );
  border-radius: 20px 10px 10px 20px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 126px;
  height: 26px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.labelValue {
  color: #676767;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 41px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame262 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame261 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame275 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame273 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.polygon1 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 10px;
  height: 8px;
  position: relative;
  overflow: visible;
}

._1101 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 55px;
}

.frame274 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.polygon12 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 10px;
  height: 8px;
  position: relative;
  overflow: visible;
}

._1107 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 171px;
}

.frame34 {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 282px;
  height: 383px;
  position: relative;
}

.frame252 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame258 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame40 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame26 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 48px;
  height: 23px;
  position: relative;
}

.ellipseFill {
  background: #c9d3d0;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
  aspect-ratio: 1;
}

.div5 {
  color: rgba(92, 92, 92, 0.7);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}

.frame322 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 139px;
  height: 31px;
  position: relative;
}

.frame272 {
  background: linear-gradient(
    -90deg,
    rgba(201, 211, 208, 1) 0%,
    rgba(233, 240, 238, 1) 100%
  );
  border-radius: 15px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 63px;
  height: 25px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.labelValue2 {
  color: #9d9d9d;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 41px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame44 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame45 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame46 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame47 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame42 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame277 {
  background: linear-gradient(
    -90deg,
    rgba(217, 221, 223, 1) 0%,
    rgba(243, 243, 243, 1) 100%
  );
  border-radius: 15px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 103px;
  height: 25px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.frame48 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame49 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}

.frame105 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 282px;
  height: 52px;
  position: relative;
}

.frame102 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 125px;
  height: 45px;
  position: relative;
}

.div6 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  width: 69px;
}

.frame103 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 125px;
  height: 45px;
  position: relative;
}

.frame158 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 70px;
  position: relative;
}

.div7 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
