.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1440px;
  padding: 20px;
  margin: 0 auto;
  padding-top: 80px; /* For fixed header */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 20px;
  align-items: flex-start;
}
