.div {
  background: #f1f1f1;
    align-items: center;
}
.rectangle8 {
  background: linear-gradient(
    180deg,
    rgba(235, 235, 234, 1) 2.248714119195938%,
    rgba(235, 235, 234, 1) 15.865384042263031%,
    rgba(242, 242, 242, 1) 100%
  );
}
.rectangle12 {
  background: #f1f1f1;
  border-radius: 20px;
}
.dashbox {
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.dashbox_row {
  padding: 90px 0px 0px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.dashbox_ {
  padding: 60px 0px 0px 250px;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  border: 1.5px solid #dadee1;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  width: 200px; /* Adjust as needed */
  margin-bottom: 20px; /* Add some space below the search bar */
}

.searchInput {
  border: none;
  outline: none;
  background: transparent;
  flex-grow: 1;
  padding: 5px;
  font-size: 14px;
  color: #595e69;
}

.searchIcon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: 5px;
}

.frame48 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 245px;
}
.frame207 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 245px;
  height: 276px;
  position: relative;
}
.frame15 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 276px;
  position: relative;
}
.userInfo {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  padding: 0px 14px 0px 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 174px;
  position: relative;
}
.frame291 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame209 {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 33px;
  position: relative;
}
.profile {
  background: #dbdfe0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame225 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.usernameInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 99px;
  height: 29px;
  position: relative;
}
.frame224 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame223 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 93px;
  position: relative;
}
.username {
  color: #595e69;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  width: 93px;
  height: 25px;
}
.userinfo1 {
  margin: -8px 0 0 0;
  color: #9999a0;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 11px;
}
.riMoreLine {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame282 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 24px;
  position: relative;
}
.vector {
  flex-shrink: 0;
  width: 20px;
  height: 14.53px;
  position: relative;
  overflow: visible;
  aspect-ratio: 20/14.53;
}
.frame91 {
  background: #f3f3f3;
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1.5px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 47px;
  height: 28px;
  position: relative;
}
._4000 {
  color: #4b858f;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
}
._6000Pt {
  color: #9999a0;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9px;
  font-weight: 700;
  position: relative;
}
.line4 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #eaedee;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 205px;
  height: 0px;
  position: relative;
}
.frame241 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame210 {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame212 {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.div2 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  width: 60px;
}
.line42 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #eeeeef;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame211 {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame2112 {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._100 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 11px;
  font-weight: 700;
  position: relative;
  width: 60px;
}
.line43 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: rgba(238, 238, 239, 0);
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
._200 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 11px;
  font-weight: 700;
  position: relative;
  width: 60px;
}
.frame5 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  padding: 12px 118px 12px 118px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 43.37px;
  position: relative;
}
.div3 {
  color: #595e69;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 55px;
}
.frame6 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 43.37px;
  position: relative;
}
.a {
  color: #595e69;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 300px;
}
.frame199 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(243, 243, 243, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px;
  padding: 11px 14px 110px 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 270px;
  position: relative;
}
.frame204 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame198 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 196px;
  position: relative;
}
.a2 {
  color: #595e69;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 17px;
}
.line5 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dbdfe0;
  border-width: 1.5px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.frame205 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame203 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame174 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  height: 38px;
  position: relative;
}
.frame106 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 201px;
  position: relative;
}
.frame141 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 201px;
  position: relative;
}
.frame140 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.profile2 {
  background: #dbdfe0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.username2 {
  color: #575757;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  width: 164px;
}
.username2Span {
  font-family: "Inter-Regular", sans-serif;
}
.username2Span2 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.line6 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #eaedee;
  border-width: 1.5px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.frame2052 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  height: 38px;
  position: relative;
}
.frame2042 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  height: 38px;
  position: relative;
}
.frame220 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 15px;
  position: relative;
}
.frame191 {
  display: flex;
  flex-direction: row;
  gap: 5px; /* 적절한 간격 */
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45px;
  position: relative;
}
.frame187 {
  display: flex;
  flex-direction: row;
  gap: 5px; /* 적절한 간격 */
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 125px;
  position: relative;
}
.frame2053 {
  border-radius: 5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 19px;
  height: 16px;
  position: relative;
}
.group2095 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}
.frame188 {
  border-radius: 5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 19px;
  height: 16px;
  position: relative;
}
.group20952 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}
.frame8 {
  border-radius: 20px;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}
.frame226 {
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame254 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 282px;
  position: relative;
}
.frame25 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame196 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._11 {
  color: #515151;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.line44 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 250px;
  height: 0px;
  position: relative;
}
._112 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  width: 170px;
}
.frame253 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame45 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.legends {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 59px;
  height: 195px;
  position: relative;
  overflow: hidden;
}
.frame35 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.legend {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame27 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipseFill {
  background: #abcebe;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.div4 {
  color: rgba(92, 92, 92, 0.7);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 11px;
  font-weight: 700;
  position: relative;
}
.legendNode {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.basicNode {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 8px;
  top: 8px;
}
.ellipseFill2 {
  background: #c9d3d0;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 8px;
  height: 8px;
  position: absolute;
  left: calc(50% - 8px);
  top: 50%;
  translate: 0 -50%;
}
.ellipseFill3 {
  background: #e0e4e6;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 8px;
  height: 8px;
  position: absolute;
  left: calc(50% - 8px);
  top: 50%;
  translate: 0 -50%;
}
.mainChart {
  flex-shrink: 0;
  width: 159px;
  height: 198px;
  position: relative;
}
.pieLayer {
  width: 75.96%;
  height: 79%;
  position: absolute;
  right: 20.4%;
  left: 3.64%;
  bottom: 12.73%;
  top: 8.27%;
}
.pie3 {
  background: #e0e4e6;
  border-radius: 50%;
  width: 129px;
  height: 129px;
  position: absolute;
  left: calc(50% - 56.67px);
  top: calc(50% - 58.09px);
}
.pie2 {
  background: #c9d3d0;
  border-radius: 50%;
  width: 129px;
  height: 129px;
  position: absolute;
  left: calc(50% - 56.67px);
  top: calc(50% - 58.09px);
}
.pie1 {
  background: #abcebe;
  border-radius: 50%;
  width: 129px;
  height: 129px;
  position: absolute;
  left: calc(50% - 56.67px);
  top: calc(50% - 58.09px);
}
.label2 {
  position: absolute;
  inset: 0;
}
.labelContent {
  width: 33px;
  height: 23px;
  position: static;
}
.labelName {
  color: #9d9d9d;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 51.67px);
  top: calc(50% - 74.09px);
  width: 30px;
  height: 10px;
}
.reviewBlocksWrapper{
  margin: -18px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 500px;
  height: 338px;
  position: relative;
}
.reviewsWrapper{
  margin: -18px 0 0 0;
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1000px;
  height: 550px;
  position: relative;
}
.completeWrapper{
  padding: 0px 0px 0px 230px;
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1000px;
  height: 550px;
  position: relative;
}
.allWrapper{
  margin: -18px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1000px;
  height: 338px;
  position: relative;
}
.labelValue {
  color: #9d9d9d;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 8px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 47.67px);
  top: calc(50% - 62.09px);
  width: 29px;
  height: 11px;
}
.frame34 {
  margin: -18px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 282px;
  height: 338px;
  position: relative;
}
.frame252 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame40 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame26 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 48px;
  height: 23px;
  position: relative;
}
.ellipseFill4 {
  background: #c9d3d0;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.div5 {
  color: rgba(92, 92, 92, 0.7);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.frame32 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 139px;
  height: 31px;
  position: relative;
}
.frame272 {
  background: linear-gradient(
    -90deg,
    rgba(201, 211, 208, 1) 0%,
    rgba(233, 240, 238, 1) 100%
  );
  border-radius: 15px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 63px;
  height: 25px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.labelValue2 {
  color: #9d9d9d;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 41px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame44 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame452 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame46 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame47 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame42 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame273 {
  background: linear-gradient(
    -90deg,
    rgba(217, 221, 223, 1) 0%,
    rgba(243, 243, 243, 1) 100%
  );
  border-radius: 15px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 103px;
  height: 25px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.frame482 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame62 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 253px;
  height: 44px;
  position: relative;
}
.frame22 {
  border-radius: 20px;
  padding: 0px 0px 11px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 277px;
  position: relative;
}
.frame1962 {
  padding: 3px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame278 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame422 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame41 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div6 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 278px;
}
.frame20 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 277px;
  height: 97px;
  position: relative;
}
.frame37 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 219px;
  position: relative;
}
.frame36 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 180px;
  position: relative;
}
._140 {
  color: #82b79e;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  width: 53px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2002 {
  color: #505050;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  width: 85px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdiPencil {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame31 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 186px;
  position: relative;
}
.frame322 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 149px;
  height: 32px;
  position: relative;
}
.frame274 {
  background: linear-gradient(
    -90deg,
    rgba(130, 183, 158, 0.8) 0%,
    rgba(221, 236, 231, 1) 100%
  );
  border-radius: 20px 10px 10px 20px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 126px;
  height: 26px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.labelValue3 {
  color: #676767;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 41px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame2732 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame259 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 21px;
  position: relative;
}
.div7 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 246px;
}
.frame21 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 278px;
  height: 139px;
  position: relative;
}
.div8 {
  text-align: left;
  position: relative;
  width: 248px;
}
.div8Span {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.div8Span2 {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
}
.div8Span3 {
  color: #676767;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.div8Span4 {
  color: #676767;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.frame279 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div9 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame213 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 278px;
  height: 175px;
  position: relative;
}
.frame271 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame270 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame372 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 219px;
  height: 28px;
  position: relative;
}
.frame362 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 137px;
  position: relative;
}
._240 {
  color: #aaaaaa;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  width: 53px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2003 {
  color: #747474;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  width: 112px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame312 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 55px;
  position: relative;
}
.labelValue4 {
  color: #4d4747;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
  width: 52px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame313 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 227px;
  position: relative;
}
.frame323 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 1px 3px 3px 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 152px;
  height: 32px;
  position: relative;
}
.frame275 {
  background: #dadee1;
  border-radius: 20px;
  padding: 12px 111px 12px 109px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 149px;
  height: 28.49px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.26deg) scale(1, -1);
}
.labelValue5 {
  color: #676767;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 52px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame265 {
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 238px;
  height: 34px;
  position: relative;
}
.frame267 {
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 202px;
  position: relative;
}
.div10 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  width: 42px;
}
.frame269 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame266 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 105px;
  position: relative;
}
.ellipseFill5 {
  background: #abcebe;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
  aspect-ratio: 1;
}
.ellipseFill6 {
  background: #c9d3d0;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
  aspect-ratio: 1;
}
._35 {
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 42px;
}
._35Span {
  color: #82b79e;
}
.frame219 {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 281px;
  position: relative;
}
.frame18 {
  border-radius: 20px;
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 333px;
  position: relative;
}
.div11 {
  color: #515151;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame195 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 268px;
  position: relative;
}
.frame43 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 277px;
  position: relative;
}
.frame19 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 277px;
  height: 97px;
  position: relative;
}
._20 {
  color: #82b79e;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  width: 42px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._40 {
  color: #505050;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  width: 85px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdiPencil2 {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame342 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 154px;
  position: relative;
}
.frame314 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame324 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 148px;
  height: 22px;
  position: relative;
}
.frame276 {
  background: linear-gradient(
    -90deg,
    rgba(201, 211, 208, 1) 0%,
    rgba(233, 240, 238, 1) 100%
  );
  border-radius: 8px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 63px;
  height: 16px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.frame325 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipseFill7 {
  background: #e0e4e6;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.frame326 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 149px;
  height: 22px;
  position: relative;
}
.frame277 {
  background: linear-gradient(
      to left,
      rgba(192, 192, 192, 0.2),
      rgba(192, 192, 192, 0.2)
    ),
    linear-gradient(
      -90deg,
      rgba(223, 229, 231, 1) 0%,
      rgba(243, 243, 243, 1) 100%
    );
  border-radius: 20px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 113px;
  height: 16px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.frame49 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame33 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame343 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame352 {
  display: flex;
}

.frame36__ {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Changed to space-between */
  width: 100%;
  position: relative;
  gap: 8px;
}
.viewAmountWrapper_ {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    flex-grow: 1; /* Added flex-grow */
    overflow: hidden;
}
.editAmountWrapper_ {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    flex-grow: 1;
    overflow: hidden;
}
.inputField_ {
  color: var(--green-ab);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  width: 80px; /* 적절한 너비 설정 */
  height: 37px;
  border: 1px solid #e3e5e7;
  border-radius: 5px;
  padding: 0 5px;
  box-sizing: border-box; /* padding이 width에 포함되도록 */
}
.amountSeparator_ {
  color: #505050;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 5px;
}
.targetInput_ {
  color: #505050;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  width: 80px; /* 적절한 너비 설정 */
  height: 37px;
  border: 1px solid #e3e5e7;
  border-radius: 5px;
  padding: 0 5px;
  box-sizing: border-box; /* padding이 width에 포함되도록 */
}
.amountUnit_ {
  color: #505050;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}
._1420_ {
  color: var(--green-ab);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

._2020_ {
  color: #505050;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  flex-shrink: 0;
}
.editButton_ {
  background-color: transparent; /* 배경색 투명 */
  color: #797d86; /* 글씨색 회색 */
  border: 1.5px solid #e3e5e7; /* 연한 회색 테두리 */
  border-radius: 8px; /* 둥글기 덜하게 */
  padding: 5px 10px;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
}
.frame19_ {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 29px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 277px;
  height: 97px;
}
.frame37_ {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  width: 219px;
}

.moreOptionsContainer {
  position: relative;
  display: flex; /* Changed to flex to better control content */
  align-items: center;
  justify-content: center;
}
.frame52 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  padding: 20px 118px 12px 118px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 207px;
  position: relative;
}
.frame293 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame2132 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.frame216 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame92 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame912 {
  background: #f3f3f3;
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1.5px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.div12 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
}
.frame218 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 131px;
  position: relative;
}
.a3 {
  color: #595e69;
  text-align: right;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.a3Span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.a3Span2 {
  font-family: "Inter-Regular", sans-serif;
}
.line45 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 131px;
  height: 0px;
  position: relative;
}
.frame217 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.frame214 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame2710 {
  background: linear-gradient(
    -90deg,
    rgba(201, 211, 208, 1) 0%,
    rgba(233, 240, 238, 1) 100%
  );
  border-radius: 8px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 83px;
  height: 16px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.frame83 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 500px;
  height: 100px;
  position: relative;
}
.frame183 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  height: 25px;
  position: relative;
}
.frame105 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 497px;
  height: 132px;
  position: relative;
}
.frame109 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame113 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame107 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 473px;
  display:flex;
  position: relative;
}
.frame1063 {
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  display:flex;
  position: relative;
}
.profile3 {
  background: #dbdfe0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.username3 {
  color: #787878;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  width: 90px;
}
.div13 {
  color: #787878;
  text-align: flex-start;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 170px;
}
.frame108 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
.date20251116 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
}
.frame110 {
  display: flex;
  flex-direction: row;
  gap: 102px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 473px;
  height: 42px;
  position: relative;
}
.div14 {
  color: #787878;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  width: 291px;
}
.frame111 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 63px;
  height: 36px;
  position: relative;
}
.frame913 {
  background: #e5e7e8;
  border-radius: 20px;
  border-style: solid;
  border-color: #e5e7e8;
  border-width: 2px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 28px;
  position: relative;
}
.div15 {
  color: #818181;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
}
.frame215 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame236 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ellipseFill8 {
  background: #abcebe;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.frame2711 {
  background: linear-gradient(
    -90deg,
    rgba(171, 206, 190, 1) 0%,
    rgba(221, 236, 231, 1) 100%
  );
  border-radius: 8px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 133px;
  height: 16px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.labelValue6 {
  color: #82b79e;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 41px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame233 {
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 280px;
  position: relative;
}
.frame231_tab_container {
 
  flex-direction: column;
  gap: 10px;
  height: 420px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-2092 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 10px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1px;
  padding: 6px 11px 6px 11px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 249px;
  height: 50px;
  position: relative;
}
.frame232 {
  display: flex;
  flex-direction: row;
    padding: 0px 0px 15px 0px;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.a4 {
  color: #595e69;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  width: 121px;
}
._30 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  width: 60px;
}
.frame1062 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  width: 240px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 43.37px;
  position: relative;
}
.a5 {
  color: #595e69;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame143 {
  padding: 60px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 66px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame2332 {
  border-radius: 5px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 120px;
  height: 35px;
  position: relative;
}
.vector2 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.frame235 {
  border-radius: 5px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 120px;
  height: 35px;
  position: relative;
}
.frame2333 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.a6 {
  color: #595e69;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame131 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.frame234 {
  border-radius: 5px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 120px;
  height: 35px;
  position: relative;
}
.frame132 {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.line53 {
  border-style: solid;
  border-color: #dbdfe0;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 1180px;
  height: 0px;
  position: relative;
}