.notificationItem {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.notificationItem:hover {
  background-color: #f9f9f9;
}

.unread {
  font-weight: bold;
  background-color: #E8F5E9; /* Very low saturation green */
}

.read {
  color: #555;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 9px; /* Adjust padding to account for border */
}

.message {
  flex-grow: 1;
  margin-right: 10px;
}

.timestamp {
  font-size: 0.8em;
  color: #888;
}

.unreadIndicator {
  width: 8px;
  height: 8px;
  background-color: #a5d6a7; /* Matching green for unread */
  border-radius: 50%;
  margin-left: 10px;
}
