.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #f1f1f1;
  height: 740px;
  position: relative;
  overflow: hidden;
}
.rectangle-10 {
  background: linear-gradient(
    180deg,
    rgba(235, 235, 234, 1) 2.248714119195938%,
    rgba(235, 235, 234, 1) 15.865384042263031%,
    rgba(242, 242, 242, 1) 100%
  );
  width: 1440px;
  height: 682px;
  position: absolute;
  left: 0px;
  top: 58px;
}
.rectangle-9 {
  background: #f1f1f1;
  border-radius: 20px;
  width: 1335px;
  height: 688px;
  position: absolute;
  left: 44px;
  top: 81px;
}
.frame-59 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 261px;
  height: 408px;
  position: absolute;
  left: 1087px;
  top: 222px;
}
.div2 {
  color: #575757;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  width: 348px;
}
.frame-85 {
  border-radius: 20px;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 278px;
  height: 379px;
  position: relative;
}
.frame-86 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-98 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 252px;
  height: 49px;
  position: relative;
}
.div3 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.frame-91 {
  background: #f3f3f3;
  border-radius: 20px;
  border-style: solid;
  border-color: #c5c5c5;
  border-width: 2px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 63px;
  height: 28px;
  position: relative;
}
.div4 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
}
.frame-99 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 252px;
  height: 49px;
  position: relative;
}
._12 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.frame-100 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 252px;
  height: 49px;
  position: relative;
}
.frame-101 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 252px;
  height: 49px;
  position: relative;
}
.frame-105 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 252px;
  height: 49px;
  position: relative;
}
.frame-106 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 252px;
  height: 49px;
  position: relative;
}
.frame-104 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  height: 49px;
  position: relative;
}
.frame-1052 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 235px;
  height: 59px;
  position: relative;
}
.frame-102 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 112px;
  height: 35px;
  position: relative;
}
.div5 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  width: 69px;
}
.frame-103 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 113px;
  height: 35px;
  position: relative;
}
.frame-158 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 70px;
  position: relative;
}
.div6 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.frame-308 {
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 967px;
  height: 540px;
  position: absolute;
  left: 83px;
  top: 120px;
}
.frame-309 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 855px;
  height: 423px;
  position: relative;
}
.frame-310 {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 291px;
  position: relative;
}
.frame-311 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 855px;
  position: absolute;
  left: 171px;
  top: 183.5px;
}
.frame-306 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 800px;
  position: relative;
}
.frame-154 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 701px;
  height: 291px;
  position: relative;
}
.frame-151 {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 697px;
  position: relative;
}
.frame-107 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1062 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 109px;
  position: relative;
}
.frame-150 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-149 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.div7 {
  color: #575757;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  width: 187px;
}
.frame-148 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 87px;
  position: relative;
}
.frame-912 {
  background: #f3f3f3;
  border-radius: 20px;
  border-style: solid;
  border-color: #c5c5c5;
  border-width: 2px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 86px;
  height: 33px;
  position: relative;
}
.frame-305 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div8 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
}
.polygon-1 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 10px;
  height: 8px;
  position: relative;
  overflow: visible;
}
.frame-112 {
  background: #f3f3f3;
  border-radius: 20px;
  border-style: solid;
  border-color: #c5c5c5;
  border-width: 2px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 86px;
  height: 33px;
  position: relative;
}
.frame-111 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 63px;
  height: 36px;
  position: relative;
}
.frame-913 {
  background: #e5e7e8;
  border-radius: 20px;
  border-style: solid;
  border-color: #e5e7e8;
  border-width: 2px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 86px;
  height: 33px;
  position: relative;
}
.frame-153 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 607px;
  height: 276px;
  position: relative;
}
.frame-129 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  height: 91px;
  position: relative;
}
.frame-131 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}
.frame-132 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}
.frame-130 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}
.frame-307 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 139px;
  height: 111px;
  position: relative;
}
.frame-914 {
  border-radius: 20px;
  border-style: solid;
  border-color: #e5e7e8;
  border-width: 2px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 135px;
  height: 33px;
  position: relative;
}
.div9 {
  color: #848484;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  width: 60px;
}
.mask-group {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.frame-92 {
  border-radius: 20px;
  border-style: solid;
  border-color: #e5e7e8;
  border-width: 2px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 135px;
  height: 33px;
  position: relative;
}
.div10 {
  color: #848484;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  width: 141px;
}
.div11 {
  margin: -216px 0 0 0;
  color: #575757;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 524px;
  height: 300px;
}
.frame-5 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 25px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2.5px;
  padding: 12px 118px 12px 118px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 73px;
  position: absolute;
  left: 1103px;
  top: 123px;
}
.div12 {
  color: #595e69;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  width: 78px;
}
.line-5 {
  margin-top: -2px;
  border-style: solid;
  border-color: #eaedee;
  border-width: 2px 0 0 0;
  width: 450px;
  height: 0px;
  position: absolute;
  left: 738px;
  top: 602px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-18 {
  background: rgba(245, 245, 245, 0.92);
  border-style: solid;
  border-color: #dbdfe2;
  border-width: 1.5px;
  padding: 11px 19px 11px 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 58px;
  position: fixed;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(2px);
}
.bar {
  border-radius: 0px 0px 10px 10px;
  padding: 11px 13px 8px 62px;
  display: flex;
  flex-direction: row;
  gap: 552px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  height: 53px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
}
.frame-38 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-17 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 288px;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 40.59px;
  height: 35.79px;
  position: relative;
  overflow: visible;
}
.div13 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 183px;
  position: relative;
}
.consight {
  color: #5ca196;
  text-align: left;
  font-family: "K2D-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
}
.div14 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 423px;
  height: 25px;
  position: relative;
}
.frame-2 {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 8px 19px 8px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 83px;
  height: 25px;
  position: relative;
}
.div15 {
  color: #393a3b;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.frame-52 {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 8px 19px 8px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 82px;
  height: 25px;
  position: relative;
}
.frame-4 {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 8px 19px 8px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 82px;
  height: 25px;
  position: relative;
}
.frame-1 {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 8px 19px 8px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 83px;
  height: 25px;
  position: relative;
}
.frame-19 {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 63px;
  height: 17px;
  position: relative;
}
.mdi-account-cog {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.majesticons-logout-line {
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
