.popup {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 10px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  padding: 0px 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 213px;
  height: 113px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.div2, .div3, .div4 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
}

.line5, .line4 {
  border-top: 1.5px solid #eaedee;
  width: 190px;
}
