.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #f1f1f1;
  height: 1406px;
  position: relative;
  overflow: hidden;
}
.rectangle-8 {
  background: linear-gradient(
    180deg,
    rgba(235, 235, 234, 1) 2.248714119195938%,
    rgba(235, 235, 234, 1) 15.865384042263031%,
    rgba(242, 242, 242, 1) 100%
  );
  width: 1440px;
  height: 682px;
  position: absolute;
  left: 0px;
  top: 58px;
}
.rectangle-10 {
  border-radius: 0px;
  width: 1335px;
  height: 688px;
  position: absolute;
  left: 44px;
  top: 80px;
  overflow: visible;
}
.frame-284 {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: center;
  width: 240px;
  position: absolute;
  left: 102px;
  top: 276px;
}
.frame-296 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.line-5 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 240px;
  height: 0px;
  position: relative;
}
.frame-283 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-37 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 219px;
  height: 22px;
  position: relative;
}
.frame-36 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 195px;
  position: relative;
}
._11-1 {
  color: #505050;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  width: 42px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2 {
  color: #505050;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  width: 158px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-30 {
  color: #5ca196;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  width: 111px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-4 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 240px;
  height: 0px;
  position: relative;
}
.frame-6 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 253px;
  height: 44px;
  position: relative;
}
.a {
  color: #595e69;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-297 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 253px;
  height: 44px;
  position: relative;
}
.user-info {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  padding: 0px 8px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  width: 245px;
  height: 128px;
  position: absolute;
  left: 99px;
  top: 110px;
}
.frame-281 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-280 {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.profile {
  background: #dbdfe0;
  border-radius: 50%;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-225 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.username-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 99px;
  height: 29px;
  position: relative;
}
.frame-224 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-223 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 93px;
  position: relative;
}
.username {
  color: #595e69;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  width: 93px;
  height: 25px;
}
.userinfo-1 {
  margin: -8px 0 0 0;
  color: #9999a0;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 11px;
}
.ri-more-line {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
  overflow: visible;
}
.frame-282 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.vector {
  flex-shrink: 0;
  width: 20px;
  height: 14.53px;
  position: relative;
  overflow: visible;
  aspect-ratio: 20/14.53;
}
.frame-91 {
  background: #f3f3f3;
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1.5px;
  padding: 5px 8px 5px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 47px;
  height: 28px;
  position: relative;
}
._4000 {
  color: #4b858f;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
}
._6000-pt {
  color: #9999a0;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9px;
  font-weight: 700;
  position: relative;
}
.frame-8 {
  border-radius: 20px;
  padding: 12px 111px 0px 111px;
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: flex-start;
  justify-content: center;
  width: 945px;
  height: 611px;
  position: absolute;
  left: 378px;
  top: 102px;
}
.frame-226 {
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-265 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 288px;
  position: relative;
}
.div3 {
  color: #515151;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.line-42 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 250px;
  height: 0px;
  position: relative;
}
.frame-276 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 277px;
  position: relative;
}
.frame-41 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.div4 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 276px;
}
.frame-19 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 277px;
  height: 97px;
  position: relative;
}
.frame-372 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 219px;
  position: relative;
}
.frame-362 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 180px;
  position: relative;
}
._20 {
  color: #82b79e;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  width: 42px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._40 {
  color: #505050;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  width: 85px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdi-pencil {
  border-radius: 20px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 21.75px;
  height: 21.75px;
  position: relative;
  overflow: hidden;
}
.frame-31 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 186px;
  position: relative;
}
.frame-32 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 149px;
  height: 32px;
  position: relative;
}
.frame-27 {
  background: linear-gradient(
    -90deg,
    rgba(130, 183, 158, 0.8) 0%,
    rgba(221, 236, 231, 1) 100%
  );
  border-radius: 20px 10px 10px 20px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 126px;
  height: 26px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.label-value {
  color: #676767;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 41px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-262 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-261 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-275 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-273 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.polygon-1 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 10px;
  height: 8px;
  position: relative;
  overflow: visible;
}
._11-01 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 55px;
}
.frame-274 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.polygon-12 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 10px;
  height: 8px;
  position: relative;
  overflow: visible;
}
._11-07 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 171px;
}
.frame-34 {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 282px;
  height: 383px;
  position: relative;
}
.frame-252 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-258 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-40 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame-26 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 48px;
  height: 23px;
  position: relative;
}
.ellipse-fill {
  background: #c9d3d0;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.div5 {
  color: rgba(92, 92, 92, 0.7);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.frame-322 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 139px;
  height: 31px;
  position: relative;
}
.frame-272 {
  background: linear-gradient(
    -90deg,
    rgba(201, 211, 208, 1) 0%,
    rgba(233, 240, 238, 1) 100%
  );
  border-radius: 15px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 63px;
  height: 25px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.label-value2 {
  color: #9d9d9d;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 41px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-44 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame-45 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame-46 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame-47 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame-42 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame-277 {
  background: linear-gradient(
    -90deg,
    rgba(217, 221, 223, 1) 0%,
    rgba(243, 243, 243, 1) 100%
  );
  border-radius: 15px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 103px;
  height: 25px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.frame-48 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame-49 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  position: relative;
}
.frame-105 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 282px;
  height: 52px;
  position: relative;
}
.frame-102 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 125px;
  height: 45px;
  position: relative;
}
.div6 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  width: 69px;
}
.frame-103 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2px;
  padding: 10px 20px 10px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 125px;
  height: 45px;
  position: relative;
}
.frame-158 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 70px;
  position: relative;
}
.div7 {
  color: #575757;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.frame-197 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 569px;
  position: relative;
}
.line-43 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 580px;
  height: 0px;
  position: relative;
}
.frame-2622 {
  display: flex;
  flex-direction: row;
  gap: 44px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-2612 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-412 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 129px;
  position: relative;
}
.div8 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 246px;
}
.frame-20 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 277px;
  height: 97px;
  position: relative;
}
._140 {
  color: #82b79e;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  width: 53px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200 {
  color: #505050;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  width: 85px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2772 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-2732 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 282px;
  position: relative;
}
.polygon-13 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 10px;
  height: 8px;
  position: relative;
  overflow: visible;
}
._11 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 115px;
}
.frame-263 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 283px;
  height: 323px;
  position: relative;
}
.frame-268 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 564px;
  position: relative;
}
.frame-2722 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-259 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 21px;
  position: relative;
}
.div9 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame-21 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 278px;
  height: 286px;
  position: relative;
}
.frame-271 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-270 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-373 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 219px;
  position: relative;
}
.frame-363 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 137px;
  position: relative;
}
._240 {
  color: #aaaaaa;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  width: 53px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2002 {
  color: #747474;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  width: 112px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-312 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 55px;
  position: relative;
}
.label-value3 {
  color: #4d4747;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: relative;
  width: 52px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-313 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 227px;
  position: relative;
}
.frame-323 {
  background: #e9eaeb;
  border-radius: 20px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 2.5px;
  padding: 1px 3px 3px 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 152px;
  height: 32px;
  position: relative;
}
.frame-278 {
  background: #dadee1;
  border-radius: 20px;
  padding: 12px 111px 12px 109px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 149px;
  height: 28.49px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-0.26deg) scale(1, -1);
}
.label-value4 {
  color: #676767;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: relative;
  width: 52px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2652 {
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 238px;
  height: 34px;
  position: relative;
}
.frame-267 {
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 202px;
  position: relative;
}
.div10 {
  color: #535353;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  width: 42px;
}
.frame-269 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-266 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 105px;
  position: relative;
}
.ellipse-fill2 {
  background: #abcebe;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
  aspect-ratio: 1;
}
.ellipse-fill3 {
  background: #c9d3d0;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  position: relative;
  aspect-ratio: 1;
}
._3-5 {
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 42px;
}
._3-5-span {
  color: #82b79e;
}
.div11 {
  text-align: left;
  position: relative;
  width: 248px;
}
.div-11-span {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.div-11-span2 {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
}
.div-11-span3 {
  color: #676767;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.div-11-span4 {
  color: #676767;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.frame-2733 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-212 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 278px;
  height: 159px;
  position: relative;
}
.div-11-span {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.div-11-span2 {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
}
.div-11-span3 {
  color: #676767;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.div-11-span4 {
  color: #676767;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.frame-264 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 19px;
  position: absolute;
  left: 834px;
  top: 749px;
}
.frame-242 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
  width: 1228px;
  position: absolute;
  left: 119px;
  top: 768px;
}
.line-52 {
  margin-top: -1.5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px 0 0 0;
  flex-shrink: 0;
  width: 1295.1px;
  height: 0px;
  position: relative;
}
.frame-257 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-143 {
  display: flex;
  flex-direction: row;
  gap: 66px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-236 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 254px;
  height: 34px;
  position: relative;
}
.frame-106 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 94px;
  position: relative;
}
.a2 {
  color: #595e69;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  width: 121px;
}
._202 {
  color: #797d86;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  width: 60px;
}
.frame-201 {
  border-radius: 20px;
  padding: 0px 14px 0px 14px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 418px;
  position: relative;
}
.frame-237 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 310px;
  position: relative;
}
.frame-286 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1182px;
  position: relative;
}
.frame-240 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 383px;
  position: relative;
}
.frame-287 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-239 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 10px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1px;
  padding: 6px 11px 6px 11px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 249px;
  height: 50px;
  position: relative;
}
.frame-232 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.a3 {
  color: #595e69;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  width: 166px;
}
.div12 {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #e3e5e7;
  border-width: 1px;
  padding: 12px 111px 12px 111px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 278px;
  height: 286px;
  position: relative;
}
._3-5-span {
  color: #82b79e;
}
.div-11-span {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.div-11-span2 {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
}
.div-11-span3 {
  color: #676767;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.div-11-span4 {
  color: #676767;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.frame-288 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._3-5-span {
  color: #82b79e;
}
.div-11-span {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.div-11-span2 {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
}
.div-11-span3 {
  color: #676767;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.div-11-span4 {
  color: #676767;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.frame-289 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._3-5-span {
  color: #82b79e;
}
.div-11-span {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.div-11-span2 {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
}
.div-11-span3 {
  color: #676767;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.div-11-span4 {
  color: #676767;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.frame-290 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._3-5-span {
  color: #82b79e;
}
.div-11-span {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.div-11-span2 {
  color: #535353;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10px;
  font-weight: 700;
}
.div-11-span3 {
  color: #676767;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.div-11-span4 {
  color: #676767;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.frame-183 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1182px;
  height: 39px;
  position: relative;
}
.frame-83 {
  border-radius: 5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 22px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-191 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 11px;
  position: relative;
}
.group-2095 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}
.group-2096 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}
.frame-189 {
  border-radius: 5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 22px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.group-20952 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}
.frame-187 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-184 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  position: relative;
}
.frame-84 {
  border-radius: 5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 22px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
._1 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 16px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-185 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  position: relative;
}
.frame-842 {
  background: #e1e4e5;
  border-radius: 5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 22px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
._2 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 16px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-186 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  position: relative;
}
._3 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 16px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-1872 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  position: relative;
}
._4 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 16px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-188 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  position: relative;
}
._5 {
  color: #787878;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  width: 16px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.frame-1882 {
  border-radius: 5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 22px;
  position: relative;
}
.group-20953 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}
.frame-190 {
  border-radius: 5px;
  border-style: solid;
  border-color: #dadee1;
  border-width: 1.5px;
  padding: 6px 7px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 22px;
  position: relative;
}
.group-20954 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}
.group-20962 {
  flex-shrink: 0;
  width: 5px;
  height: 6px;
  position: relative;
  overflow: visible;
}
.frame-18 {
  background: rgba(245, 245, 245, 0.92);
  border-style: solid;
  border-color: #dbdfe2;
  border-width: 1.5px;
  padding: 11px 19px 11px 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 58px;
  position: fixed;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(2px);
}
.bar {
  border-radius: 0px 0px 10px 10px;
  padding: 11px 13px 8px 62px;
  display: flex;
  flex-direction: row;
  gap: 552px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  height: 53px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
}
.frame-38 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-17 {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 288px;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 40.59px;
  height: 35.79px;
  position: relative;
  overflow: visible;
}
.div13 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 183px;
  position: relative;
}
.consight {
  color: #5ca196;
  text-align: left;
  font-family: "K2D-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
}
.div14 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 423px;
  height: 25px;
  position: relative;
}
.frame-2 {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 8px 19px 8px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 83px;
  height: 25px;
  position: relative;
}
.div15 {
  color: #393a3b;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.frame-5 {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 8px 19px 8px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 82px;
  height: 25px;
  position: relative;
}
.div16 {
  color: #697076;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.frame-4 {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 8px 19px 8px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 82px;
  height: 25px;
  position: relative;
}
.frame-1 {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 8px 19px 8px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 83px;
  height: 25px;
  position: relative;
}
.frame-192 {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 63px;
  height: 17px;
  position: relative;
}
.mdi-account-cog {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.majesticons-logout-line {
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
